In [2]:
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)

print(len(df))

3

In [27]:
df_tor = df[0]

#get index of boroughs which are not assigned and drop those rows
index_NA = df_tor[df_tor['Borough']== 'Not assigned'].index
df_tor.drop(index_NA , inplace=True)

#group multiple neighbourhoods assigned to a borough
df_tor = df_tor.groupby(['Postal Code' , 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()

#check for null and empty string cells in neighbourhoods and replace with boroughs
for i in range(len(df_tor)) :
    if (df_tor['Neighbourhood'].empty) :
            df_tor[ i , "Neighbourhood"] =  df_tor[ i , "Borough"]

df_tor.shape

(103, 3)

In [24]:
#get geo coordinates
df_geo = pd.read_csv('https://cocl.us/Geospatial_data')
df_geo

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [29]:
# merge the coordinates dataframe with the initial dataframe
df_final = pd.merge(df_tor, df_geo, on='Postal Code')
df_final

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054